/* slick custom */
.slick-slide {
    outline: none
}
.slick-slide {
    margin: 0 50px;
    height: auto;
}
.slick-slider {
    overflow: hidden;
}
.slick-list {
    margin: 0 -50px;
}
.slick-disabled i {
    display: none !important;
}
.slick-dotted.slick-slider {
    margin-bottom: 0;
}
.slick-dots {
    bottom: 0px !important;
}
.slick-dots li.slick-active button:before  {
    color: white;
}
.slick-dots li button:before  {
    font-size: 12px;
    color: white;
}
.actors_slider .slick-dots li.slick-active button:before  {
    color: black;
}
.actors_slider .slick-dots li button:before  {
    font-size: 12px;
    color: black;
}
.arrow {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-bottom: 40px;
}
/* общие настройки */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
    font-family:'Open Sans Condensed', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-family:'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
}
ul {
    list-style-type: none;
}
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    height: 50px;
    padding: 12px 12px;
    border-radius: 0px;
    border: 1px solid #730202; 

    text-align: center;
    font-size: 18px;
}
input::placeholder {
    text-transform: capitalize;
}
.container {
    margin: 0 auto;
    padding: 0 30px; 
    width: 100%;
    max-width: 1170px;
}

.section-title {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.section-title * {
    font-weight: normal;
    font-size: 48px;   
    letter-spacing: 0.1em;
}
.t-white {
    color: #fff;
}
.t-grey {
    color: #989898;
}
.t-black {
    color: #000;
}
.t-red {
    color: #730202;
}
.bg-red {
    background-color: #730202;
}
.bg-white {
    background-color: #fff;
}
.f-c {
    display: flex;
    flex-direction: column;
}
.f-sb {
    display: flex;
    justify-content: space-between;
}
.f-c-sb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hidden {
    display: none;
}
.btn {
    box-sizing: border-box;
    padding: 12px 50px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    outline: none;

    font-family:'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #730202;
    transition: 0.3s
}


/* intro */
.intro {
    background: linear-gradient(to top,#000, #000 calc(50% - 600px), transparent calc(50% - 550px), transparent calc(50% + 550px), #000 calc(50% + 600px), #000),
                linear-gradient(to right,#000, #000 calc(50% - 960px) ,rgba(0,0,0,0.7) calc(50% - 800px) , rgba(0,0,0,0.7) calc(50% + 800px), #000 calc(50% + 960px), #000), 
                url('../images/intro.jpg') no-repeat center fixed;
}
.intro__inner {
    position: relative;
    padding: 7vh 0;
    min-height: 100vh;
    color: #ffffff;
    text-align: center;
}
.intro__info {
    align-items: center;
    font-weight: bold;
    color: #ffffff;
    max-width: 100%;
}
.nav {
    margin-right: 30px;
    width: 100%;
    max-width: 500px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.title h1 {
    font-size: 99px;
    font-weight: normal;
    letter-spacing: 0.5em;
    text-indent: 0.5em;
}
.about {
    font-size: 14px;
}
.about p{
    margin-bottom: 30px;
}
/* Actors */
.actors__inner {
    padding: 7vh 0;
    min-height: 100vh;
}
.actors_slider-wrapper {
    display: flex;
    width: 100%;
}
.slider-container {
    width: calc(100% - 60px);
    max-width: 1110px;
    padding: 0;
    margin: 0;
}
.actors__item {
    margin-bottom: 40px;
}
.actors__name {
    padding-top: 12px;
}
.actors__photo {
    width: 100%;
    padding-top: 120%;
    position: relative;
    overflow: hidden;
}
.actors__photo img {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    filter: grayscale(100%);
}
.actors__item p {
    text-transform: capitalize;
}
/* repertoire */
.repertoire {
    background: linear-gradient(to top,#000, #000 calc(50% - 600px), transparent calc(50% - 550px), transparent calc(50% + 550px), #000 calc(50% + 600px), #000),
                linear-gradient(to right,#000, #000 calc(50% - 960px) ,rgba(0,0,0,0.7) calc(50% - 800px) , rgba(0,0,0,0.7) calc(50% + 800px), #000 calc(50% + 960px), #000), 
                url('../images/repertoire.jpg') no-repeat center fixed;

}
.repertoire__inner {
    padding: 7vh 0;
    min-height: 100vh;
}
.repertoire__slider-wrapper {
    display: flex;
    width: 100%;
}
.repertoire_slider .slick-track {
    display: flex !important;
}
.repertoire_slider .repertoire__item {
    display: flex !important;
    height: inherit !important;
    flex-direction: column;
}
.caption {
    margin-bottom: 60px;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}
.flex-text {
    flex-grow: 1;
    margin-bottom: 20px;
}
.repertoire__item figcaption {
    display: none;
}
.repertoire__title {
    min-height: 70px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 24px;
}
.repertoire__gallery {
    margin-bottom: 30px;
}
.gallery-thumbnail  {
    width: 100%;
    position: relative;
    display: inline-block;
    overflow: hidden;
    background-color: #730202;
}
.gallery-thumbnail span {
    opacity: 0;
    transition: opacity 300ms linear;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}
.gallery-thumbnail img {
    display: block;
    width: 100%;
    object-fit: cover;
    opacity: 1;
    transition: opacity 300ms linear, transform 300ms linear;
}

.repertoire__description{
    overflow: hidden;
    text-align: justify;
    font-size: 14px;
    line-height: 21px;
    height: 63px;
}
.more {
    text-decoration: none;
    float: right;
}

/* footer */
.footer__inner {
    padding: 7vh 0;
    min-height: 50vh;
}
.contact__form {
    display: grid;
    grid-template-columns: repeat(2, minmax(350px, 450px));
    justify-content: space-between;
}
.contacts__list li {
    font-size: 24px;
    line-height: 1.5em;
    margin-bottom: 30px;
}
.contacts__list li span i{
    line-height: 1.5em;
}
.contacts__list li:last-child {
    margin-bottom: 0;
}
.contacts__link {
    font-weight: bold;
    letter-spacing: 0.1em;
}
.social-map {
    text-transform: uppercase;
}
.mailing__title {
    margin: 0 auto 35 auto;
    max-width: 350px;
    font-size: 30px;
    text-align: center;
}
.site-info {
    margin-top: 20px;
    font-size: 12px;
    flex-wrap: wrap;
}
hr {
    border-top: 1px solid #730202;
    margin: 5px 0;
}
.mailing__form-errors {
    list-style-type: disc;
    margin-bottom: 10px;
    color: #f00;
    padding: 0 20px;
}
.mailing__form-errors li{
    padding: 5px;
}
.btn-subscribe {
    height: 52px;
}
.btn-success {
    background-color: green;
    color: white;
    border: none;
    height: 52px;
}
.btn-success::after {
    font-family:'Font Awesome 5 Free';
    content: "\f00c";
    font-size: 25px;
}

.fa-circle-notch {
    font-size: 24px;
}
@media screen and (max-width:1199px) {
    .intro {
        background-attachment: scroll;
    }
    .repertoire {
        background-attachment: scroll;
    }

}
@media (hover: hover) {
    .btn:hover {
        background: #fff;
        color: #730202;
    }
    .btn-success:hover {
        background: green;
        color: white;
    }
    .nav__link:hover {
        color: #730202;
        transition: color 0.1s linear;
    }
    .gallery-thumbnail:hover img{
        opacity: 0.7;
        transform: scale(1.05)
    }
    .gallery-thumbnail:hover span{
        opacity: 1;
    }
    .more:hover {
        text-decoration: underline;
    }
}
@media screen and (max-width:1100px) {
    .title h1 {
        font-size: 9vw;
    }
}
@media screen and (max-width:992px) {
    .actors_slider-wrapper .slider-container {
        max-width: 500px;
    }
}
@media screen and (max-width:767px) {
    .slick-list {
        margin: 0 -25px;
    }
    .slick-slide {
        margin: 0 25px;
    }
    .arrow {
        font-size: 20px;
    }
    .repertoire__slider-wrapper .slider-container {
        max-width: 500px;
    }
    .menu-icon {
        display: block;
        position: absolute;
        top: 30px;
    }
    .nav__close-btn {
        display: none;
        position: fixed;
        top: 30px;
        right: 30px;
        z-index: 1000;
    }
    .intro__info a i {
        font-size: 30px;
    }
    .tickets {
        display: none;
    }
    .nav {
        margin-right: 0;
        box-sizing: border-box;
        padding: 25% 0;
        font-size: 26px;
        display: none;
        max-width: 100%;
        
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        height: 100%;
        z-index: 1000;
        top: 0;
        right: 0;
        background-color: #730202;
    }
    .nav a:first-child {
        display: none;
    }
    .nav__icons {
        color: white;
        font-size: 34px;
    }
    .intro__info {
        justify-content: flex-end;
    }
    .nav__link {
        width: 200px;
        text-align: center;
    }
    .nav__link:not(:last-child) {
        margin-bottom: 30px;
    }
    .nav__link-mobile {
        display: inline;
    }
    #tickets-mobile {
        width: 100vw;
        display: block;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0px);
        bottom: 0;
    }
    #tickets-mobile .btn {
        width: 100vw;
        margin: 0;        
    }
    .contact__form {
        grid-template-columns: 1fr;
    }
    .mailing__title {
        display: none;
    }    
}