.slick-slide {
    outline: none
}
/* the slides */
.slick-slide {
    margin: 0 25px;
    height: auto;
}
/* the parent */
.slick-slider {
    overflow: hidden;
}
.slick-list {
    /* overflow: hidden; */
    margin: 0 -25px 50px -25px;
}
.slick-disabled {
    display: none !important;
}
.slick-dots {
    bottom: 0px !important;
}
.slick-dotted.slick-slider {
    margin-bottom: 0;
}
.arrow {
    user-select: none;
    position: absolute;
    height: 100%;
    top: 0;
    /* transform: translate(0, -50%); */
}
.arrow-prev {
    left: -30px;
}
.arrow span {
    display: flex;
    height: 100%;
    width:100%;
    align-items: center;
}

.arrow-prev span::after {
    content: 'navigate_before'
}
.arrow-next {
    right: -30px;
}
.arrow-next span::after {
    content: 'navigate_next'
}
.actors_slider-wrapper {
    position: relative;
}
* {
    margin: 0;
    padding: 0;
    
}
body {
    font-family:'Open Sans Condensed', sans-serif;
    
}
ul {
    list-style-type: none;
}
.container {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 36px;
    width: 100%;
    height: inherit;
    max-width: 1182px;
}
@media screen and (max-width:768px) {
    .container {
        max-width: 550px;
        padding: 0 30px;
    }
}
.section-title {
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.section-title > h1,
.section-title > h2,
.section-title > h3,
.section-title > h4,
.section-title > h5,
.section-title > h6 {
   
    font-weight: normal;
    font-size: 48px;
    font-style: normal;
    letter-spacing: 0.1em;
}
.t-white {
    color: #ffffff;
}
.t-dark {
    color: #730202;
}
.t-black {
    color: #000;
}
.input {
    height: 50px;
    margin-right: 30px;
    padding: 12px 12px;
    background: #444444;
    font-size: 18px;
    color: #ffffff;
    vertical-align: middle;
    border: 1px solid #616161;
}
.btn {
    padding: 12px 50px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    outline: none;

    font-family:'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    color: #ffffff;
    background-color: #444444;
    border: none;
    transition: 0.3s
}
.btn:hover {
    background-color: #730202;
}
@media (max-width:992px) {
    .btn {
        padding: 12px 18px;
    }
}

/* Intro */

.intro {
    background: linear-gradient(to top,#000, #000 calc(50% - 600px), transparent calc(50% - 550px), transparent calc(50% + 550px), #000 calc(50% + 600px), #000),
                linear-gradient(to right,#000, #000 calc(50% - 960px) ,rgba(0,0,0,0.7) calc(50% - 800px) , rgba(0,0,0,0.7) calc(50% + 800px), #000 calc(50% + 960px), #000), 
                url(../images/intro.jpg) no-repeat center;
    /* background-attachment: fixed; */
}

.intro__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #ffffff;
}

.intro__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color: #ffffff;
    max-width: 100%;
}

/* Nav */

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;

    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.1em;

}
.icon {
    display: none;
    color: white;
    align-self: flex-end;
}
.nav__close-btn {
    display: none;
}
@media (max-width:768px) {
    .icon {
        display: inline;
    }
    .tickets {
        display: none;
    }
    .nav {
        box-sizing: border-box;
        padding: 50% 0;
        transition:visibility 0.3s linear,opacity 0.3s linear;
        visibility: hidden;
        opacity: 0;
        font-size: 26px;
        display: flex;
        width: 100%;
        max-width: 100%;
        
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        height: 100%;
        z-index: 1000;
        top: 0;
        right: 0;
        background-color: #730202;
    }
    .nav__icons {
        color: white;
        font-size: 30px;
    }
    .nav__close-btn {
        visibility: hidden;
        opacity: 0;
        transition:visibility 0.3s linear,opacity 0.3s linear;
        display: block;
        position: fixed;
        top: 30px;
        right: 30px;
        z-index: 1000;
        color: white;
    }
    .intro__info {
        justify-content: flex-end;
    }
}



.nav__link {
    text-decoration: none;
    color: #ffffff;

}

.nav__link:hover {
    color: #730202;
    transition: color 0.1s linear;
}

/* Tickets */
.tickets {
    font-size: 18px;
    text-transform: uppercase;
    margin-left: 50px;
}

/* Description */


.title {
    width: 100%;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;

}
.title h1 {
    font-size: 96px;
    font-weight: normal;
    letter-spacing: 0.5em;
    text-transform: uppercase;

}

@media (max-width:768px) {
    .title h1 {
        font-size: 36px;
    }
}

.about {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;

    width: 100%;
    margin: 0 auto;
    text-align: center;

}
.about p{
    margin-bottom: 30px;
    width: 100%;
}

/* Actors */

.actors__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
/* @media (max-width:769px) {
    .actors__inner {
        max-width: 500px;
        margin: 0 auto;
    }
} */

.actors__item-wrapper {
    width: 100%;
    text-align: left;
}
.actors__item {
    margin-bottom: 40px;
}
.actors__name {
    padding-top: 12px;
}
.actors__photo {
    width: 100%;
    padding-top: 125%;
    position: relative;
    overflow: hidden;
}
.actors__photo img {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    filter: grayscale(100%);
}

.actors__item p {
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    font-style: regular;
    font-size: 14px;
    color: #730202;

}

/* Repertoire */

.repertoire {
    background: linear-gradient(to top,#000, #000 calc(50% - 600px), transparent calc(50% - 550px), transparent calc(50% + 550px), #000 calc(50% + 600px), #000),
                linear-gradient(to right,#000, #000 calc(50% - 960px) ,rgba(0,0,0,0.7) calc(50% - 800px) , rgba(0,0,0,0.7) calc(50% + 800px), #000 calc(50% + 960px), #000), 
                url(../images/repertoire.jpg) no-repeat center;

}
.repertoire__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.repertoire__cards {
    width: inherit;
    color: #ffffff;

}

.repertoire__item {
    display: flex;
    flex-direction: column;
}
.owl-carousel .owl-stage{
	display: flex;
}
.owl-carousel .owl-item {
    display: flex;
    flex: 1 0 auto;
}
.caption {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}
.flex-text {
		flex-grow: 1
	}
.thumbnail {
    display: flex;
    flex-direction: column;
}
.repertoire_slider {
    position: relative;
}
.repertoire_slider .slick-track {
    display: flex !important;
}

.repertoire_slider .slick-slide {
    display: flex !important;
    height: inherit !important;
}

.repertoire__item figcaption {
    display: none;
}
.slick-dots li.slick-active button:before  {
    color: white;
}
.slick-dots li button:before  {
    font-size: 12px;
    color: white;
}
.actors_slider .slick-dots li.slick-active button:before  {
    color: black;
}
.actors_slider .slick-dots li button:before  {
    font-size: 12px;
    color: black;
}

.repertoire__title {
    min-height: 70px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 24px;

}
.repertoire__gallery {
    margin-bottom: 30px;
}
.gallery-thumbnail  {
    position: relative;
    display: inline-block;
    overflow: hidden;
    background-color: #730202;
}
.gallery-thumbnail span {
    opacity: 0;
    transition: opacity 300ms linear;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    white-space: nowrap;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}
.gallery-thumbnail img {
    display: block;
    width: 100%;
    object-fit: cover;
    opacity: 1;
    transition: opacity 300ms linear, transform 300ms linear;
}
.gallery-thumbnail:hover img{
    opacity: 0.7;
    transform: scale(1.05)
}
.gallery-thumbnail:hover span{
    opacity: 1;
}
.gallery-thumbnail-hidden {
    display: none;
}

.repertoire__description {
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 1rem;
}
.repertoire__description p {
    line-height: 1.2rem;
    margin-bottom: 1rem;
}
@media screen and (max-width:768px) {
    .repertoire__description {
        max-height: 6rem;
        overflow: hidden;
    }
}

/* Footer */

.footer__inner {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
/* Contacts */
.contacts li{
    margin-bottom: 30px;
}
.contacts__link {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}
.phone::before {
    content: url(../images/phone-icon.png);
    width: 50px;
    margin-right: 46px;
    display: inline-block;
    vertical-align: middle;
}

.social-vk::before {
    content: url(../images/vk-icon.png);
    margin-right: 46px;
    display: inline-block;
    vertical-align: middle;
}

/* Mailing */

.mailing__title {
    margin-bottom: 60px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    
}
.mailing__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Footer__info */
.site-info {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    grid-template-columns: 1fr 1fr;
}
.site-info__about, .site-info__developed {
    font-weight: normal;
    font-style: normal;

    font-size: 12px;
    color: #989898;
}
.site-info__developed {
    display: flex;
    justify-self: end;
}
.site-info__about a, .site-info__developed a {
    text-decoration: none;
    color: #989898;
}

